<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<appSettings>
		<add key="DataProvider" value="sql" />
    <add key="SqlConnection" value="SqlConnectionSSPI" />
    <add key="HttpUrl" value="http://localhost:54321/" />
    <add key="PublisherAddr" value="tcp://localhost:12345" />
	</appSettings>

	<connectionStrings>
		<add name="SqlConnectionLogin"
			 connectionString="Initial Catalog=ServerAgent;Server=localhost;User id=sa;Password=Password;"
			 providerName="System.Data.ProviderName" />
		<add name="SqlConnectionSSPI"
			 connectionString="Initial Catalog=ServerAgent;Server=localhost;Integrated Security=SSPI;"
			 providerName="System.Data.ProviderName" />
	</connectionStrings>
</configuration>